html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.ablock {
    overflow: hidden;
    border: 1px solid #e7e7e7;
    padding: 12px;
    border-radius: 4px;
}

.ablock img, .fullstory img {
    max-width: 100%;
    border-radius: 4px;
}

.mtop {
    margin-top: 12px;
}

.mbottom {
    margin-bottom: 12px;
}

.mleft {
    margin-left: 12px;
}

.mright {
    margin-right: 12px;
}

.label a {
    color: #fff;
}

.label {
    font-size: 80%;
}

/* spoiler */
.spoiler {
    display: table;
    position: relative;
    background-color: #f9fafa;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

.spoiler-btn {
    padding: 2px 6px;
    cursor: pointer;
}

.spoiler-body {
    padding: 6px;
}

h2.to {
    font-size: 18px;
    color: #337ab7;
    text-decoration: none;
    cursor: pointer;
}

h2.to:hover {
    text-decoration: underline;
}

h1.search {
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: bold;
}